n8n/workflows/pr-review.json
{
	"name": "PR Review Workflow",
	"nodes": [
		{
			"parameters": {
				"path": "pr-review",
				"responseMode": "lastNode",
				"options": {},
				"httpMethod": "POST"
			},
			"name": "Webhook",
			"type": "n8n-nodes-base.webhook",
			"typeVersion": 1,
			"position": [240, 300]
		},
		{
			"parameters": {
				"authentication": "apiKey",
				"resource": "text",
				"text": "You are an experienced code reviewer. Please provide a detailed code review for the following pull request:\n\nPull Request Title: {{$json.body.pull_request.title}}\nDescription: {{$json.body.pull_request.body}}\n\nProvide a thorough code review that includes:\n1. Code Quality Analysis\n2. Security Review\n3. Performance Considerations\n4. Specific Recommendations\n\nFormat your response in markdown with clear sections and bullet points. Be constructive and specific.",
				"options": {
					"model": "gpt-4",
					"temperature": 0.2,
					"maxTokens": 2000
				},
				"simplifyOutput": true
			},
			"name": "OpenAI",
			"type": "n8n-nodes-base.openAi",
			"typeVersion": 1,
			"position": [400, 300]
		},
		{
			"parameters": {
				"resource": "issue",
				"operation": "createComment",
				"owner": "glsorensen",
				"repository": "realworld-django-rest-framework-angular",
				"issueNumber": "1",
				"body": "# AI Code Review\n\n{{$node[\"OpenAI\"].json}}"
			},
			"name": "GitHub",
			"type": "n8n-nodes-base.github",
			"typeVersion": 1,
			"position": [560, 300]
		}
	],
	"connections": {
		"Webhook": {
			"main": [
				[
					{
						"node": "OpenAI",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"OpenAI": {
			"main": [
				[
					{
						"node": "GitHub",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"settings": {
		"saveExecutionProgress": true,
		"saveManualExecutions": true,
		"saveDataErrorExecution": "all",
		"saveDataSuccessExecution": "all",
		"executionTimeout": 3600,
		"timezone": "UTC"
	},
	"staticData": null,
	"pinData": {},
	"versionId": "1.0.0"
}
